<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p %c{1.} [%t] %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Logger name="com.hp.hpl" level="warn">
      <AppenderRef ref="STDOUT" />
    </Logger>
    <Logger name="org.apache.zookeeper" level="warn">
      <AppenderRef ref="STDOUT" />
    </Logger>
    <Logger name="edu.jhu.hlt.gigaword" level="info">
      <AppenderRef ref="STDOUT" />
    </Logger>
    <Logger name="org.apache.jena" level="warn">
      <AppenderRef ref="STDOUT" />
    </Logger>
  </Loggers>
</Configuration>
